<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - For the Record</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<!-- Bootstrap Navbar with Dropdowns and Search Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">For the Record</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar items including dropdowns aligned to the left -->
      <ul class="navbar-nav me-auto">

  <!-- GENRE Dropdown -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGenre" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      GENRE
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownGenre">
      <% dropdowns.genres.forEach(function(genre) { %>
        <li><a class="dropdown-item" href="/genre/<%= genre %>"><%= genre %></a></li>
      <% }); %>
    </ul>
  </li>
      </ul>
      

      <!-- Search bar and other items aligned to the right -->
      <form class="d-flex ms-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Go</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- profile.ejs -->
<div class="container mt-5">
  <h2>Welcome, <%= user.username %></h2>
  <p>Email: <%= user.email %></p>
  <p>Role: <%= user.role %></p>
  <!-- Add other user details you wish to display -->
  <a href="/auth/logout" class="btn btn-danger">Logout</a>
</div>


<!-- Bootstrap JS -->
<script src="js/bootstrap.bundle.min.js"></script>
<!-- Custom JS -->
<script src="js/custom.js"></script>



</body>
</html>
